<!DOCTYPE html>
<html lang="en">
<head>
<title> AllaySky </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="/static/tech_design/dist/images/blue-alphabet-letter-a.png" type="image/x-icon"> 

<link href="/static/tech_design/dist/css/bootstrap.css" rel="stylesheet">
<link href="/static/tech_design/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/tech_design/dist/css/work.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
 <script src="/static/tech_design/dist/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<script>
$(document).ready(function() { 

});
</script>
</head>
<body>
	
	
</body>
</html>
